// Font family
$roboto-font-family: "Roboto", sans-serif;
$roboto-font-weight-thin: 100;
$roboto-font-weight-regular: 600;
$roboto-font-weight-bold: 700;

// colors
$color-main-background: #78C4ED;
$color-white: #FFFF;
$color-black: #222f3e;
$color-alice-blue: #97c0c0;
$color-light-blue: #36c7c7;
$color-table-background: #FEFAF6;
$color-loading-lines: #EFEFFA;
$color-submenu-background: #18476a;
$color-submenu-active: #FFBB70;
$color-button-check : #0f6b6b;
$dark-color-button-check: #0F6B6BFF;
$color-red: #FF0000FF;
$color-dark-red: #9b1515;
$color-green: #008000FF;
$color-dark-green: #006400FF;
// Font sizes
$font-size-small: 1.5rem;
$font-size-medium: 1.9rem;
$font-size-big: 2.5rem;
$font-size-big-2: 4rem;

// Margin and Paddings
$margin-small: 1vw;
$margin-medium: 2vw;
$margin-huge: 4vw;

$padding-small: 1vw;
$padding-medium: 2vw;
$padding-huge: 4vw;
