// Font family
$roboto-font-family: "Roboto", sans-serif;
$roboto-font-weight-thin: 100;
$roboto-font-weight-regular: 600;
$roboto-font-weight-bold: 700;

// colors
$color-main-background: #78C4ED;
$color-white: #FFFF;
$color-black: #222f3e;
$color-alice-blue: #97c0c0;
$color-light-blue: #A3D8FF;
$color-table-background: #FEFAF6;
$color-submenu-background: #18476a;
$color-submenu-active: #FFBB70;
// Font sizes
$font-size-small: 1.5rem;
$font-size-medium: 1.9rem;
$font-size-big: 2.5rem;
$font-size-big-2: 4rem;

// Margin and Paddings
$margin-small: 1vw;
$margin-medium: 2vw;
$margin-huge: 4vw;

$padding-small: 1vw;
$padding-medium: 2vw;
$padding-huge: 4vw;
