*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #222f3e;
}

@keyframes SmoothColorChange {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%; /* End with the gradient fully visible */
  }
}
@keyframes FadeInOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes rotateArrowUp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotateArrowDown {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.main_container {
  display: flex;
  min-height: 100vh;
}
.main_container__nav {
  position: fixed;
  height: 100vh;
  width: 12vw;
  flex: 0 1 auto;
  background-color: #222f3e;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.main_container__nav__logo {
  padding-right: 0.5rem;
  max-width: 20rem;
}
.main_container__nav__parameters {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 0.9rem;
}
.main_container__nav__parameters__main_menu {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
}
.main_container__nav__parameters__main_menu__container {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  pointer-events: none;
}
.main_container__nav__parameters__main_menu :hover {
  cursor: pointer;
}
.main_container__nav__parameters__main_menu > span {
  align-self: center;
}
.main_container__nav__parameters__main_menu__svg {
  align-self: center;
  width: 1.5rem;
  height: 1.5rem;
  color: #97c0c0;
}
.main_container .menu_text {
  color: white;
  transition: color 0.2s ease-in-out;
}
.main_container .menu_text:hover {
  color: #36c7c7;
}

.toggle-menu-button {
  border: none;
  color: inherit;
  background: none;
  pointer-events: visible;
}
.toggle-menu-button__text {
  color: white;
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out;
}
.toggle-menu-button__text:hover {
  color: #36c7c7;
}

.submenu-icon svg {
  transition: transform 0.5s linear;
  width: 1.5rem;
  color: #97c0c0;
}

.rotated-down {
  animation: rotateArrowDown 0.5s linear forwards;
}

.rotated-up {
  animation: rotateArrowUp 0.5s linear forwards;
}

.submenu-companies__sub-options,
.submenu-contracts__sub-options {
  text-align: center;
  background-color: #18476a;
  flex-direction: column;
  gap: 0.8vh;
  text-decoration: none;
  font-size: 0.9em;
  color: white;
  list-style: none;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.submenu-companies__sub-options:hover,
.submenu-contracts__sub-options:hover {
  color: #36c7c7;
}

.hidden {
  display: none;
  opacity: 0;
  height: 0;
  transition: height 0.8s ease, opacity 0.8s ease;
}

.collapsing {
  display: flex;
  opacity: 0;
  transition: height 0.8s ease, opacity 0.8s ease;
}

.show {
  height: auto;
  display: flex;
  opacity: 1;
  transition: height 0.8s ease, opacity 0.8s ease;
}

.active {
  color: #FFBB70;
  text-decoration: #A3D8FF;
  pointer-events: none !important;
  cursor: default !important;
}

.home:active,
.home:link,
.home:visited {
  cursor: pointer;
  pointer-events: visible;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.home:active:hover,
.home:link:hover,
.home:visited:hover {
  color: #36c7c7;
}

.remove-pointer {
  cursor: default !important;
}

.main_container {
  position: relative;
  display: flex;
  gap: 7vw;
  background-color: #78C4ED;
}

form {
  display: flex;
  width: 100%;
  height: 100%;
}

caption {
  font-size: 4rem !important;
}

.error-list {
  list-style: none;
  color: red;
  position: absolute;
  font-size: 1.6rem;
  text-transform: none;
}

.error {
  padding-left: 1rem;
  transform: translateX(25%);
  position: absolute;
  z-index: 5000;
  width: 70%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  gap: 1rem;
  animation: FadeInOut 7s ease-in-out forwards;
}
.error > svg {
  fill: green;
  width: 5em;
}
.error__text {
  font-size: 1.5rem;
  color: #222f3e;
}
.error__description > strong {
  font-size: 2.5rem;
  font-weight: 700;
}

.table {
  transition: width 3s ease-in-out;
  border-radius: 3rem;
  width: 70%;
  max-height: 1em;
  background-color: #FEFAF6;
  margin: 2vw 2vw 2vw 19vw;
  padding: 2vw;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2);
}
.table > caption {
  font-size: 2.5rem;
  margin-bottom: 2vw;
}
.table__text {
  text-transform: uppercase;
  font-size: 1.9rem;
}
.table tr {
  background-size: 200% 100%; /* Larger background size for animation */
  transition: background-color 0.5s ease; /* Smooth transition for background color change */
  width: 100%; /* Ensure the row uses full width if not set */
}
.table tr:hover {
  animation: SmoothColorChange 0.5s forwards;
}
.table tr:nth-child(odd):not(:nth-last-child(-n+2)) {
  background-color: white;
}
.table tr:nth-child(odd):not(:nth-last-child(-n+2)) {
  background-image: linear-gradient(to right, white, #e6e6e6);
}
.table tr:nth-child(even):not(:nth-last-child(-n+2)) {
  background-image: linear-gradient(to right, #FEFAF6, #f9e1c8);
}
.table tbody > tr:not(:last-child) > td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.table__input {
  box-sizing: border-box;
  padding-left: 10px;
  width: 100%;
  transition: scale 0.2s ease-in-out;
}
.table__input::placeholder {
  padding-left: 1vw;
}
.table__save {
  width: 100%;
  height: 100%;
}
.table__save__button {
  background-color: #FEFAF6;
  cursor: pointer;
  border-radius: 3rem;
  border-color: rgba(0, 0, 0, 0.3);
  width: 10rem;
  margin-top: 1vw;
  font-size: 2.5rem;
  transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2);
}
.table__save__button:hover {
  background-color: #f9e1c8;
}
.table__save__button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.focused {
  scale: 1.1;
}

td {
  padding: 1vw;
  display: table-cell;
}

.rounded {
  height: 3.5rem;
  border-radius: 0.35rem;
}

.upload-container {
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 200px; /* Fixed width or max width for the outer progress bar */
  height: 20px;
  background-color: lightgrey;
  margin-left: 10px; /* Space between the file input and progress bar */
}

#progress {
  height: 100%;
  background-color: green;
  width: 0; /* Start with no fill */
}

/*# sourceMappingURL=home.css.map */
