.main-container {
  margin: 5vw 2vw 2vw 10vw;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  h1 {
    font-size: 4rem;
    align-self: center;
  }
}

.company-search-container {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1.2rem;
  flex-direction: column;

  &__search-input {
    align-self: center;
    display: flex;
     gap: 1.2rem;
    justify-items: center;
    align-items: center;
  }
}

#export-csv {
  border: none;
  width: 150px;
  height: 50px;
  background-color: $color-green;
  color: white;
  border-radius: 1rem;
  transition: background-color .2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $color-dark-green !important;
  }
}

.hidden {
  display: none;
}

#company-name {
  height: 5rem;
  padding-left: 1rem;
  border-radius: .35rem;
}

.statistics {
  margin-left: 1vw;
  display: flex;
  width: 100%;
  justify-content: space-around;

  & > div {
    background-color: $color-cards-background;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 2.5rem;
    width: 15vw;
    height: 8vw;
    color: white;
    border-radius: 10px;
  }
}

.option-name {
  text-align: end;
  font-size: 2rem;
}

.amount {
  font-size: 3rem;
  align-self: center;
}

#calculations-date,
#calculations-amount {
  margin: 1vw 2vw 2vw 4vw;
  margin-bottom: 0;
}
.gridjs-summary {
  color: $color-white;
}
//.contracts_date {
//  display: flex;
//  flex-direction: column;
//  gap: 2.5rem;
//  overflow-y: scroll;
//}

