.main_container {
  position: relative;
  display: flex;
  gap: 7vw;
  background-color: $color-main-background;
}

.table {
  border-radius: 3rem;
  width: 70%;
  height: auto;
  background-color: #FEFAF6;
  margin: 2vw;
  margin-left: 1vw;
  padding: 2vw;

  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.5);

  & thead tr > th {
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-medium;
  }

  & caption {
    font-size: $font-size-big;
    padding-bottom: 2rem;
  }

  & tbody > tr {
    font-size: 2rem;
    text-align: center;
  }
}