#results {
  margin: 3vw 2vw 2vw 15vw ;
}

.main_container {
  background-color: $color-main-background;
}

.gridjs-wrapper,
.gridjs-footer {
  border-radius: 0 !important;
}


.error {
  padding-left: 1rem;
  transform: translateX(25%);
  position: absolute;
  z-index: 5000;
  width: 70%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  gap: 1rem;
  animation: FadeInOut 7s ease-in-out forwards;

  & > svg {
    fill: green;
    width: 5em;

  }

  &__text {
    font-size: $font-size-small;
    color: $color-black;
  }

  &__description > strong {
    font-size: $font-size-big;
    font-weight: $roboto-font-weight-bold;
  }
}

.delete {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.confirmation_dialog {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border-radius: 3rem;
  border-spacing: 0 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -60%); /* Start scaled down */
  border: 1px solid #ccc;
  padding: 20px;
  background-color: $color-table-background;
  z-index: 2000; /* Ensures the dialog appears above other content */
}

.backdrop {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,0.5); /* Dark semi-transparent background */
   z-index: 1000; /* Ensure it is below the dialog */
}

.popup_buttons {
  display: flex;
  justify-content: space-between;
}

.yes,
.no {
  border: none;
  font-size: $font-size-medium;
  width: 80px;
  height: 40px;
  border-radius: 1rem;
  background-color: $color-table-background;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.yes {
  background-color: $color-green;
  color: $color-white;

  &:hover {
    background-color: $color-dark-green;
  }
}

.no {
  background-color: $color-red;
  color: $color-white;

   &:hover {
    background-color: $color-dark-red;
  }
}

.view-btn,
.delete-btn {
  border: none;
  width: 80px;
  height: 40px;
  background-color: $color-button-check;
  color: $color-white;
  border-radius: 1rem;
  transition: background-color .2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $dark-color-button-check;
  }
}

.delete-btn {
  background-color: $color-red;

  &:hover {
    cursor: pointer;
    background-color: $color-dark-red;
  }
}

.pdf-btn {
  background-color: $color-blue;

  &:hover {
    cursor: pointer;
    background-color: $color-dark-blue;
  }
}