.main_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  background-color: $color-main-background;
}
#caption {
   margin-bottom: 5rem;
   font-size: $font-size-big;
}

#results {
  margin: 0 11vw 2vw 19vw ;
}

.gridjs-wrapper,
.gridjs-footer {
  border-radius: 0 !important;
}

.table {
  border-collapse: collapse;
  width: 70%;
  background-color: $color-white;
  table-layout: fixed;
  text-align: left;
  max-height: 1rem;
  margin: 2vw 2vw 2vw 19vw;
  padding: 2vw;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .26);

  tbody > tr {
    font-size: $font-size-medium;

  }
  tbody > tr {
    & > td {
      border: 1px solid #9d9d9e;
      padding: 2rem;
    }
  }
}

.error {
  padding-left: 1rem;
  transform: translateX(25%);
  position: absolute;
  z-index: 5000;
  width: 70%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  gap: 1rem;
  animation: FadeInOut 7s ease-in-out forwards;

  & > svg {
    fill: green;
    width: 5em;

  }

  &__text {
    font-size: $font-size-small;
    color: $color-black;
  }

  &__description > strong {
    font-size: $font-size-big;
    font-weight: $roboto-font-weight-bold;
  }
}

.pdf-btn,
.edit-btn{
  border: none;
  width: 80px;
  height: 40px;
  background-color: $color-green;
  color: white;
  border-radius: 1rem;
  transition: background-color .2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $color-dark-green;
  }
}

.pdf-btn {
  background-color: $color-blue;

  &:hover {
    cursor: pointer;
    background-color: $color-dark-blue;
  }
}

#edit {
  text-align: end;
  padding: 1.5rem;
}

.confirmation_dialog {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border-radius: 3rem;
  border-spacing: 0 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -60%); /* Start scaled down */
  border: 1px solid #ccc;
  padding: 20px;
  background-color: $color-table-background;
  z-index: 2000; /* Ensures the dialog appears above other content */
}

.backdrop {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,0.5); /* Dark semi-transparent background */
   z-index: 1000; /* Ensure it is below the dialog */
}

.popup_buttons {
  display: flex;
  justify-content: space-between;
}

.yes,
.no {
  font-size: $font-size-medium;
  width: 80px;
  height: 40px;
  border-radius: 1rem;
  background-color: $color-table-background;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.3);
  transition: background-color .2s ease-in-out;
}

.yes {
  background-color: $color-green;
  color: $color-white;

  &:hover {
    background-color: $color-dark-green;
  }
}

.no {
  background-color: $color-red;
  color: $color-white;

   &:hover {
    background-color: $color-dark-red;
  }
}

.view-btn,
.delete-btn {
  width: 80px;
  height: 40px;
  background-color: $color-button-check;
  color: $color-white;
  border-radius: 1rem;
  transition: background-color .2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $dark-color-button-check;
  }
}

.delete-btn {
  background-color: $color-red;

  &:hover {
    cursor: pointer;
    background-color: $color-dark-red;
  }
}
