{% extends 'base.html' %}
{% block title %} Categories {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">
{% endblock style %}

{% block content_part %}
    <section class="categories">
        <h1 class="header">Categories</h1>
        <div class="category-search">
            {{ form.category.label(for='default_input') }}
            {{ form.category(id='default_input') }}
            {{ form.save(class='save-btn') }}
        </div>
        <div id="results" class="category-table"></div>
    </section>
    <section id="message-container"></section>
{% endblock content_part %}
{% block javascript %}
    <script type="text/javascript">
        const csrf_token = "{{ csrf_token() }}";
        const edit_form = '{{ update_form.category }}';
        let delete_url_base = "{{ url_for('api_categories.delete_category', category_id = 0) }}";
        delete_url_base = delete_url_base.replace(/\/0$/, "/");

        let edit_url_base = "{{ url_for('parameters.edit_category', category_id = 0) }}";
        edit_url_base = edit_url_base.replace(/\/0$/, "/");
    </script>
    <script src="{{ url_for('static', filename='js/form_focus.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename="js/redirection.js") }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/tableForCategories.bundle.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/delete.js') }}"></script>
{% endblock javascript %}