{% extends 'base.html' %}
{% block title %} Check Contract {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/check_contract.css') }}">
{% endblock style %}
{% block content_part %}
        <table  class="table">
            <caption id="caption">
                <h1>Contract's Overview</h1>
            </caption>
            <tbody class="main-table-part">
                <tr>
                    <td class="table__text">
                        <p>Company</p>
                    </td>
                    <td>
                        <p>{{ search_result.company.company_name }}</p>
                    </td>
                </tr>
                <tr>
                    <td class="table__text">
                       <p>Voen</p>
                    </td>
                    <td>
                       <p>{{ search_result.company.voen }}
                       </p>
                    </td>
                </tr>

                <tr>
                    <td class="table__text">
                         <p>Contract Number</p>
                    </td>

                    <td>
                        <p>{{ search_result.contract_number }}</p>
                    </td>
                </tr>

                <tr>
                    <td class="table__text">
                      <p>Start Date</p>
                    </td>

                    <td>
                       <p>{{ search_result.date }}</p>
                    </td>
                </tr>

                <tr>
                    <td class="table__text">
                      <p>End Date</p>
                    </td>

                    <td>
                       <p>{{ search_result.end_date }}</p>
                    </td>
                </tr>

                <tr>
                    <td class="table__text">
                       <p>Amount</p>
                    </td>

                    <td>
                        <p>{{ search_result.amount | round(2) }}</p>
                    </td>
                </tr>

                 <tr>
                    <td class="table__text">
                       <p>Remained Amount</p>
                    </td>

                    <td>
                        <p>{{ search_result.remained_amount | round(2) }}</p>
                    </td>
                </tr>

                <tr>
                    <td class="table__text">
                        <p>Adv Payer</p>
                    </td>

                    <td>
                        <p>{% if search_result.adv_payer %} Yes {% else %} No {% endif %}</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Contract's PDF</p>
                    </td>

                    <td id="pdf">
                        <button onclick="window.location.href='{{ url_for('all_contracts.preview_pdf', contract_id = contract_id) }}'" type="button" class="pdf-btn">View</button>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td id="edit">
                         <button onclick="window.location.href='{{ url_for('all_contracts.edit_contract', contract_id = contract_id) }}'" type="button" class="edit-btn">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="results-additions" class="results-table"></div>
        <div id="results" class="results-table"></div>
        {% block pop_up_message %}
            {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <div class="error">
                        {% for category, message in messages %}
                            {% if category == 'success' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z">
                                    </path>
                                </svg>
                                <div class="error__description">
                                    <strong>Success</strong>
                                    <p class="error__text">{{ message }}</p>
                                </div>
                            {% elif category == "warning" %}
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
                                    <defs>
                                    </defs>
                                    <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                                        <path d="M 45 90 C 20.187 90 0 69.813 0 45 C 0 20.187 20.187 0 45 0 c 24.813 0 45 20.187 45 45 C 90 69.813 69.813 90 45 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,170,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                        <path d="M 45 57.469 L 45 57.469 c -1.821 0 -3.319 -1.434 -3.399 -3.252 L 38.465 23.95 c -0.285 -3.802 2.722 -7.044 6.535 -7.044 h 0 c 3.813 0 6.82 3.242 6.535 7.044 l -3.137 30.267 C 48.319 56.036 46.821 57.469 45 57.469 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                        <circle cx="45" cy="67.67" r="5.42" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
                                    </g>
                                </svg>
                                <div class="error__description">
                                    <strong>Warning</strong>
                                    <p class="success-adding__text">{{ message }}</p>
                                </div>
                            {% elif category == "error" %}
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
                                <defs>
                                </defs>
                                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                                    <path d="M 45 90 C 20.187 90 0 69.813 0 45 C 0 20.187 20.187 0 45 0 c 24.813 0 45 20.187 45 45 C 90 69.813 69.813 90 45 90 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(229,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                    <path d="M 45 57.469 L 45 57.469 c -1.821 0 -3.319 -1.434 -3.399 -3.252 L 38.465 23.95 c -0.285 -3.802 2.722 -7.044 6.535 -7.044 h 0 c 3.813 0 6.82 3.242 6.535 7.044 l -3.137 30.267 C 48.319 56.036 46.821 57.469 45 57.469 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                    <circle cx="45" cy="67.67" r="5.42" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
                                </g>
                                </svg>
                                 <div class="error__description">
                                    <strong>Error</strong>
                                    <p class="error__text">{{ message }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
            {% endwith %}
        {% endblock pop_up_message %}
{% endblock content_part %}
{% block javascript %}
    <script type="text/javascript">
        const csrf_token = "{{ csrf_token() }}";
        const search_mode = "{{ search_mode }}";
        const contract_id = "{{ search_result.id }}";
        let pdf_url_base = "{{ url_for('all_acts.preview_pdf', act_id = 0 ) }}";
        pdf_url_base = pdf_url_base.replace(/\/0$/, "/");

        let delete_url_base = "{{ url_for('all_acts.delete_act', act_id = 0) }}";
        delete_url_base = delete_url_base.replace(/\/0$/, "/");

        let delete_url_base_addition = "{{ url_for('all_additions.delete_addition', addition_id = 0) }}";
        delete_url_base_addition = delete_url_base_addition.replace(/\/0$/, "/");

        let view_url_base = "{{ url_for('all_acts.get_act', act_id = 0) }}";
        view_url_base = view_url_base.replace(/\/0$/, "/");

        let view_url_base_addition = "{{ url_for('all_additions.get_addition', addition_id = 0) }}";
        view_url_base_addition = view_url_base_addition.replace(/\/0$/, "/");
    </script>
    <script type="module" src="{{ url_for('static', filename='js/delete.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename="js/redirection.js") }}"></script>
    <script src="{{ url_for('static', filename='js/tableForActs.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tableForAdditions.bundle.js') }}"></script>
{% endblock javascript %}
