{% extends 'base.html' %}
{% block title %} Contract's overview {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/check_contract.css') }}">
{% endblock style %}
{% block loading %}
    <div class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
{% endblock loading %}
{% block content_part %}
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <form action="{{ url_for("all_contracts.get_all_contracts") }}" method="get">
                        {% if session.get("action") == "all" %}
                            <input type="hidden" name="search" value="{{ session.get("search_query") }}">
                            <input type="hidden" name="action" value="{{ session.get("action") }}">
                        {% endif %}
                        {% if session.get("action") == "search" %}
                            <input type="hidden" name="search" value="{{ session.get("search_query") }}">
                            <input type="hidden" name="action" value="{{ session.get("action") }}">

                             {% if session.get("filters") != "" %}
                                <input type="hidden" name="filters" value="{{ session.get("filters") }}">
                             {% endif %}
                            {% if session.get("order") != "" %}
                                <input type="hidden" name="orders" value="{{ session.get("order") }}">
                            {% endif %}
                        {% endif %}
                       <input type="hidden" name="page" value="{{ session.get("page") }}">
                        <button type="submit" class="back">Back</button>
                    </form>

                </td>
            </tr>
            <tr>
                <td>Company</td>
                <td>{{ search_result.company.company_name }}</td>
            </tr>
            <tr>
                <td>VOEN</td>
                <td>{{ search_result.company.voen }}</td>
            </tr>
            <tr>
                <td>Contract number</td>
                <td>{{ search_result.contract_number }}</td>
            </tr>
            <tr>
                <td>date</td>
                <td>{{ search_result.date }}</td>
            </tr>
            <tr>
                <td>amount</td>
                <td>{{ "%.2f" | format(search_result.amount) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock content_part %}