{% extends 'base.html' %}
{% block title %} Check Contracts {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
{% endblock style %}
{% block class_all_contracts %}active{% endblock class_all_contracts %}
{% block class_check_contract_li %}remove-pointer{% endblock class_check_contract_li %}
{% block content_part %}
    {% set counter = namespace(value=0) %}
    <table class="table">
        <caption>
            <div class="table__header">
                <div class="table__header__search">
                    <form action="{{ url_for('all_contracts.get_all_contracts') }}" method="get">
                        {{ form.search(class="table__header__search__label", placeholder="Search") }}
                        <button type="submit" name="action" value="search">Search</button>
                        <button type="submit" name="action" value="all">All Contracts</button>
                    </form>
                </div>
                Contracts -{% if amount_of_companies %} {{ amount_of_companies }} {% else %} 0 {% endif %}
            </div>
        </caption>
        <thead>
            <tr>
                <th><strong>No</strong></th>
                <th>COMPANY</th>
                <th>Voen</th>
                <th>Contract number</th>
                <th>date</th>
                <th>amount</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}

                {% for contract in company.contracts %}
                    {% set counter.value = counter.value + 1 %}
                    <tr>
                        <td>{{ counter.value}}</td>
                        <td>{{ company.company_name }}</td>
                        <td>{{ company.voen }}</td>
                        <td>{{ contract.contract_number }}</td>
                        <td>{{ contract.date }}</td>
                        <td>{{ "%.2f"| format(contract.amount)  }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
{#            {% endfor %}#}
        </tbody>
    </table>
{% endblock content_part %}