{% extends 'base.html' %}
{% block title %} Contract's overview {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/check_company.css') }}">
{% endblock style %}
{% block content_part %}
    <table class="table">
        <tbody class="main-table-part">
                <tr>
                    <td class="control">
                        <form action="{{ url_for("all_companies.get_all_companies") }}" method="get">
                            {% if session.get("action") == "all" %}
                                <input type="hidden" name="search" value="{{ session.get("company_search_query") }}">
                                <input type="hidden" name="action" value="{{ session.get("action") }}">
                            {% endif %}
                            {% if session.get("action") == "search" %}
                                <input type="hidden" name="search" value="{{ session.get("company_search_query") }}">
                                <input type="hidden" name="action" value="{{ session.get("company_action") }}">

                                 {% if session.get("filters") != "" %}
                                    <input type="hidden" name="filters" value="{{ session.get("company_filters") }}">
                                 {% endif %}
                                {% if session.get("order") != "" %}
                                    <input type="hidden" name="orders" value="{{ session.get("company_order") }}">
                                {% endif %}
                            {% endif %}
                           <input type="hidden" name="page" value="{{ session.get("company_page") }}">
                            <div class="buttons">
                                <button type="submit" class="back">Back</button>
                                <button type="button" class="edit" onclick="EditContract()">Edit</button>
                                <a class="check_contracts" href="{{ url_for('all_contracts.related_contracts', voen=search_result.voen) }}">Related Contracts</a>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>company</td>
                    <td id="company_label">
                        <div>
                            {{ search_result.company_name }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>voen</td>
                    <td id="voen_label">
                    <div>
                        {{ search_result.voen }}
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>bank name</td>
                    <td id="bank_name_label">
                    {% if search_result.bank_name %} {{ search_result.bank_name }} {% else %} no information {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>m_h</td>
                    <td id="m_h_label">
                    {% if search_result.m_h %} {{ search_result.m_h }} {% else %} no information {% endif %}
                    </td>
                </tr>
                 <tr>
                    <td>h_h</td>
                    <td id="h_h_label">
                    {% if search_result.h_h %} {{ search_result.h_h }} {% else %} no information {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>swift</td>
                    <td id="swift_label">
                    {% if search_result.swift %} {{ search_result.swift }} {% else %} no information {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>email</td>
                    <td id="email_label">
                    {% if search_result.email %} {{ search_result.email }} {% else %} no information {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>phone number</td>
                    <td id="telephone_number_label">
                    {% if search_result.address %} {{ search_result.address }} {% else %} no information {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>address</td>
                    <td id="address_label">
                    {% if search_result.address %} {{ search_result.address }} {% else %} no information {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>website</td>
                    <td id="website_label">
                    {% if search_result.website %} {{ search_result.website }} {% else %} no information {% endif %}
                    </td>
                </tr>
        </tbody>
    </table>
{% endblock content_part %}
{% block javascript %}
    <script type="text/javascript">
        const form_data = {
            "company": '{{ form.company(placeholder=search_result.company_name.upper(), class="table__input rounded", id="default_input") | safe }}',
            "voen": '{{ form.voen(placeholder= search_result.voen, class="table__input rounded") | safe}}',
            "bank_name": '{{ form.bank_name(placeholder= search_result.bank_name, class="table__input rounded") | safe }}',
            "m_h": '{{ form.m_h(placeholder= search_result.m_h, class="table__input rounded") | safe }}',
            "h_h": '{{ form.h_h(placeholder= search_result.h_h, class="table__input rounded") | safe }}',
            "swift": '{{ form.h_h(placeholder= search_result.swift, class="table__input rounded") | safe }}',
            "email": '{{ form.h_h(placeholder= search_result.email, class="table__input rounded") | safe }}',
            "telephone_number": '{{ form.h_h(placeholder= search_result.telephone_number, class="table__input rounded") | safe }}',
            "address": '{{ form.h_h(placeholder= search_result.address, class="table__input rounded") | safe }}',
            "website": '{{ form.h_h(placeholder= search_result.website, class="table__input rounded") | safe }}',
            "save_button": '{{ form.save(class="save_button table__save__button") | safe }}'
        }
    </script>
    <script src="{{ url_for('static', filename='js/edit_form.js')  }}"></script>
    <script src="{{ url_for('static', filename='js/form_focus.js') }}"></script>
    <script src={{ url_for('static', filename='js/add_contract.js') }}></script>
{% endblock javascript %}