.login-body {
  margin-top: 30vh;
}

.main-body {
    background-color: $color-main-background;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-auth {
  position: relative;
  display: flex;
  gap: 4.2rem;
  flex-direction: column;
}

#default_input,
#password,
 {
  padding: 10px 10px 10px 60px;
  width: 100%;
  border-radius: 1rem;
}

#submit {
  width: 130%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  background-color: $color-green;
  color: white;
  transition: background-color .2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $color-dark-green;
  }
}

.login-header {
  font-size: 4rem;
}

.user,
.password {
  position: relative;

  transition: scale .2s ease-in-out;

  &:focus-within {
    scale: (1.05);
  }
}

.user-svg,
.password-svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.input-separator {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background-color: #ccc

}

.error-list {
  z-index: 100;
  position: absolute;
  list-style: none;
  color: red;
  font-size: 1.6rem;
  text-transform: none;
}

.error {
  top: 1.5rem;
  padding-left: 1rem;
  transform: translateX(25%);
  position: absolute;
  z-index: 5000;
  width: 70%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  gap: 1rem;
  animation: FadeInOut 7s ease-in-out forwards;

  & > svg {
    fill: green;
    width: 5em;

  }

  &__text {
    font-size: $font-size-small;
    color: $color-black;
  }

  &__description > strong {
    font-size: $font-size-big;
    font-weight: $roboto-font-weight-bold;
  }
}


