.main_container {
  gap: 2.5rem;
  background-color: $color-main-background;

  &__nav {
    position: static;
  }
}

#default_input {
  padding-left: 5px;
  border-radius: .35rem;
}


.categories {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 3rem;
}

.header {
  font-size: 4rem;
}

.category-search {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.save-btn {
  border: none;
  width: 80px;
  height: 40px;
  background-color: $color-green;
  color: white;
  border-radius: 1rem;
  transition: background-color .2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $color-dark-green;
  }
}


.error {
  padding-left: 1rem;
  transform: translateX(25%);
  position: absolute;
  z-index: 5000;
  width: 70%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  gap: 1rem;
  animation: FadeInOut 7s ease-in-out forwards;

  & > svg {
    fill: green;
    width: 5em;

  }

  &__text {
    font-size: $font-size-small;
    color: $color-black;
  }

  &__description > strong {
    font-size: $font-size-big;
    font-weight: $roboto-font-weight-bold;
  }
}