.main_container {
  display: flex;
  min-height: 100vh;

  &__nav {
    position: fixed;
    height: 100vh;
    width: 12vw;
    flex: 0 1 auto;
    background-color: $color-black;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); // Adds subtle shadow for depth

    &__logo {
      padding-right: .5rem;
      max-width: 20rem;
    }

    &__parameters {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-left: 0.9rem;
      &__main_menu {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        justify-content: center;

        &__container {
          display: flex;
          gap: 2rem;
          pointer-events: none;
        }

        & :hover {
          cursor: pointer;
        }

        > span {
          align-self: center;
        }

        &__svg {
          //pointer-events: none;
          align-self: center;
          width: 1.5rem;
          height: 1.5rem;
          color: $color-alice-blue;
        }
      }
    }
  }

  .menu_text {
    color: $color-white;
    transition: color .2s ease-in-out;

    &:hover {
      color: $color-light-blue;
    }
  }
}


.toggle-menu-button {
  border: none;
  color: inherit;
  background: none;
  pointer-events: visible;

  &__text {
    color: $color-white;
    font-size: $font-size-small;
    transition: color .2s ease-in-out;

    &:hover {
      color: $color-light-blue;
    }
  }
}

.submenu-companies,
.submenu-contracts{
  &__sub-options {
    text-align: center;
    background-color: $color-submenu-background;
    flex-direction: column;
    gap: .8vh;
    text-decoration: none;
    font-size: .9em;
    color: $color-white;
    list-style: none;
    overflow: hidden;
    transition: all .2s ease-in-out;
    &:hover {
      color: $color-light-blue;
    }
  }
}

.hidden {
  display: none;
  opacity: 0;
  height: 0;
  transition: height .8s ease, opacity .8s ease;
}

.collapsing {
  display: flex;
  opacity: 0;
  transition: height .8s ease, opacity .8s ease;
}

.show {
  height: auto;
  display: flex;
  opacity: 1;
  transition: height .8s ease, opacity .8s ease;
}

.active {
  color: $color-submenu-active;
  text-decoration: #A3D8FF;
  pointer-events: none !important;
  cursor: default !important;
}

.home:active,
.home:link,
.home:visited{
  cursor: pointer;
  pointer-events: visible;
  font-weight: normal;
  color: $color-white;
  text-decoration: none;

  transition: color .2s ease-in-out;

  &:hover {
    color: $color-light-blue;
  }
}

.remove-pointer {
  cursor: default !important;
}