.main_container {
  position: relative;
  display: flex;
  gap: 7vw;
  background-color: $color-main-background;
}
form {
  display: flex;
  width: 100%;
  height: 100%;
}

caption {
  font-size: $font-size-big-2 !important;
}

.error-list {
  list-style: none;
  color: red;
  position: absolute;
  font-size: 1.6rem;
  text-transform: none;
}

.error {
  padding-left: 1rem;
  transform: translateX(25%);
  position: absolute;
  z-index: 5000;
  width: 70%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  gap: 1rem;
  animation: FadeInOut 7s ease-in-out forwards;

  & > svg {
    fill: green;
    width: 5em;

  }

  &__text {
    font-size: $font-size-small;
    color: $color-black;
  }

  &__description > strong {
    font-size: $font-size-big;
    font-weight: $roboto-font-weight-bold;
  }
}

.table {
  transition: width 3s ease-in-out;
  border-radius: 3rem;
  width: 70%;
  max-height: 1em;
  background-color: $color-table-background;
  margin: 2vw 2vw 2vw 19vw ;
  padding: 2vw;
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2);

  > caption {
    font-size: $font-size-big;
    margin-bottom: $margin-medium;
  }

  &__text {
    text-transform: uppercase;
    font-size: $font-size-medium;
  }
  tr {
    background-size: 200% 100%; /* Larger background size for animation */
    transition: background-color .5s ease; /* Smooth transition for background color change */
    width: 100%; /* Ensure the row uses full width if not set */
  }

  tr:hover {
    animation: SmoothColorChange .5s forwards;
  }

  tr:nth-child(odd):not(:nth-last-child(-n+2)) {
    background-color: $color-white;
  }
  tr:nth-child(odd):not(:nth-last-child(-n+2)) {
    background-image: linear-gradient(to right, $color-white, darken($color-white, 10%));
  }

  tr:nth-child(even):not(:last-child) {
    background-image: linear-gradient(to right, $color-table-background, darken($color-table-background, 10%)); // Gradient adjustment
  }

  &__input {
    width: 100%;
    transition: scale .2s ease-in-out;

    &::placeholder {
      padding-left: $margin-small;
    }
  }
  &__save {

    &__button {
      background-color: $color-table-background;
      cursor: pointer;
      border-radius: 3rem;
      border-color: rgba(0, 0, 0, 0.3);
      width: 10rem;
      margin-top: $margin-small;
      font-size: $font-size-big;
      transition: background-color .5s ease-in-out, transform .3s ease-in-out, box-shadow .3s ease-in-out;
      box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2);


      &:hover {
        background-color: darken($color-table-background, 10%);
      }

      &:active {
        transform: scale(0.95);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
.focused {
  scale: (1.1);
}

td {
  padding: $padding-small;
  display: table-cell;
}

.rounded {
  height: 3.5rem;
  border-radius: .35rem;
}

.upload-container {
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 200px; /* Fixed width or max width for the outer progress bar */
    height: 20px;
    background-color: lightgrey;
    margin-left: 10px; /* Space between the file input and progress bar */
}

#progress {
    height: 100%;
    background-color: green;
    width: 0; /* Start with no fill */
}

